/* =================== Import + Root =================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
:root{
	--sel: #E77E7E;
	--bg: #1F2029;
	--fg: #170E1F;
}



/* =================== Main =================== */
body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: var(--bg);
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

#fullscreen {
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	width: 30px;
	height: 30px;
}

#embedArea {
	border-radius: 10px;
	background: var(--fg);
	border: none;
	overflow: hidden;
	display: inline-block;
	text-align: right;
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#embedBar {
	border: none;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 4px;
	padding-left: 4px;
	width: 525px;
}

#embed {
	background-color: var(--fg);
	height: 525px;
	width: 1049px;
}



/* =================== Update =================== */
#update {
	width: 3px;
	height: 3px;
	border-radius: 500em;
	display: inline-block;
	position: absolute;
	top: 24.5px;
	right: 24.5px;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#updClickArea {
	width: 16px;
	height: 16px;
	border-radius: 500em;
	display: inline-block;
	position: absolute;
	top: 1.5px;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: transparent;
}



/* =================== Tnav.css =================== */
.Tnav {
	position: relative;
	font-family: 'Montserrat', sans-serif;
  background-color: var(--fg);
  border: none;
  overflow: hidden;
  height: 49px;
  width: 100%;
  display: inline-block;
}

.Tbtn.Tin {
	font-family: 'Montserrat', sans-serif;
  float: left;
  background-color: var(--fg);
  border: none;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Tbtn.Tin:hover {
	font-family: 'Montserrat', sans-serif;
  background-color: rgb(221, 221, 221);
  border: none;
  color: rgb(0, 0, 0);
}

.Tbtn.Tact {
	font-family: 'Montserrat', sans-serif;
  float: left;
  background-color: var(--sel);
  border: none;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}