.Tnav {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(51, 51, 51);
  border: none;
  overflow: hidden;
}

.Tbtn.Tin {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  background-color: rgb(51, 51, 51);
  border: none;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Tbtn.Tin:hover {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(221, 221, 221);
  border: none;
  color: rgb(0, 0, 0);
}

.Tbtn.Tact {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  background-color: rgb(4, 170, 109);
  border: none;
  color: rgb(242, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}